			<article class="txt">
				<h2>Under Construction</h2>
				<p>This site is still under (heavy) construction. Not all parts are functioning; parts that are, may not be properly setup for languages.</p>
				<p>Current to-do list (subject to change):</p>
				<ul>
					<li>Finish design.
						<ul>
							<li>Tweaking as development continues.</li>
							<li>Setup tablet/phone designs (once main design is mostly done).</li>
						</ul>
					</li>
					<li>Characters</li>
						<ul>
							<li><s>Images (9/9)</s></li>
							<li><s>Descriptions (9/9)</s></li>
							<li>Section: "Available From"</li>
							<li><s>Section: "Abilities"</s>
								<ul>
									<li><s>Images (59/59)</s></li>
									<li><s>Descriptions (59/59)</s></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Items</li>
						<ul>
							<li>Hats
								<ul>
									<li>Images (55/87)</li>
									<li>Descriptions (0/87)</li>
									<li>Section: "Available From"</li>
								</ul>
							</li>
							<li>Weapons
								<ul>
									<li>Images (0/??)</li>
									<li>Descriptions (0/??)</li>
									<li>Section: "Available From"</li>
								</ul>
							</li>
							<li>Equipment
								<ul>
									<li>Images (0/??)</li>
									<li>Descriptions (0/??)</li>
									<li>Section: "Available From"</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Stages
						<ol>
							<li>Battle
								<ul>
									<li><s>Images (16/16)</s></li>
									<li>Descriptions (1/38)</li>
								</ul>
							</li>
							<li>Boss
								<ul>
									<li><s>Images (3/3)</s></li>
									<li>Descriptions (0/3)</li>
								</ul>
							</li>
							<li>Bars
								<ul>
									<li><s>Images (3/3)</s></li>
									<li>Descriptions (0/5)</li>
								</ul>
							</li>
							<li>Gates
								<ul>
									<li><s>Images (9/9)</s></li>
									<li>Descriptions (0/9)</li>
								</ul>
							</li>
							<li>Shops
								<ul>
									<li><s>Images (3/3)</s></li>
									<li>Descriptions (0/39)</li>
								</ul>
							</li>
						</ol>
					</li>
					<li>Add complete language support</li>
				</ul>
			</article>
			
			<section class="txt notice">
				<h2>Notices</h2>
				<article>
					<header>
						<h3>Lorem Ipsum!</h3>
						<span>Posted by: <a href="">Matthew Moore</a> <time>X days ago</time></span>
						<img src="http://asset.canbotics.ca/user/matthew-moore/matthew-moore-avatar.png" width="75" height="75" alt="">
					</header>
					<div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed mauris non nisi convallis sollicitudin eu non est. Fusce eleifend, ex sit amet tempor pharetra, metus quam hendrerit dolor, sed auctor arcu ligula ut sapien. Nulla posuere neque non lobortis convallis. Vivamus laoreet sapien id mi interdum, vitae pulvinar ipsum molestie. Nunc suscipit placerat neque quis tristique. Morbi non vestibulum leo, vitae dignissim metus. Fusce sed ligula diam. Ut eget neque efficitur, tempus nisi ultricies, luctus enim. Fusce quis facilisis nisi. Pellentesque interdum rhoncus metus, at aliquet ipsum aliquet eget. Praesent volutpat interdum leo, vel iaculis tellus volutpat vel. Praesent condimentum arcu eget elementum feugiat. Cras pretium mauris sed tellus dictum, in suscipit nisl accumsan. Proin massa mi, aliquam at quam porttitor, pellentesque fermentum mi. Duis sollicitudin elementum finibus. Donec ultrices leo vel neque scelerisque, vestibulum luctus massa rutrum.</p>

						<p>Suspendisse nec lectus dignissim, accumsan tellus vel, hendrerit elit. Vestibulum eleifend odio interdum ipsum mollis dignissim. In dapibus congue nisl, ut pellentesque ex posuere sed. Morbi pulvinar orci in felis consequat, et interdum nibh tincidunt. Donec vel arcu vitae justo eleifend vulputate. Proin congue mauris at ante cursus, in aliquet risus dictum. Aenean finibus mattis velit, vel porttitor purus tempor aliquet. Cras placerat, dui vel commodo vestibulum, eros augue mollis purus, in ultrices mi erat in lectus. Suspendisse commodo lacus in dui ultricies, eget pretium sem blandit. Sed fermentum tellus metus, sed consequat tellus porta vel. Praesent sit amet elementum tellus. Fusce vitae tristique elit, eget maximus nibh. Suspendisse fringilla aliquet lorem, sed pulvinar velit fermentum id. Cras nunc purus, consequat ut urna ac, finibus volutpat ante.</p>

						<p>Integer facilisis, risus vel hendrerit pellentesque, tellus orci accumsan nunc, at iaculis metus leo quis orci. Maecenas eget ullamcorper odio. Etiam luctus elementum eleifend. Etiam eu condimentum eros. Pellentesque erat nisl, aliquet nec turpis id, viverra dapibus urna. Proin tempus euismod arcu, sed pretium turpis cursus ut. Praesent imperdiet placerat felis, aliquam egestas ligula malesuada eu. Donec in molestie tortor. Pellentesque vulputate massa quis tempor malesuada. Curabitur mollis finibus rutrum. Etiam lacus quam, feugiat nec convallis et, volutpat sit amet sapien. Vestibulum lobortis sagittis turpis id gravida. Donec vitae mattis mi, id scelerisque ipsum. Vestibulum consequat gravida augue a maximus. Maecenas a urna facilisis, venenatis dui nec, efficitur nibh. Praesent ultricies felis et arcu viverra, sed faucibus arcu consequat.</p>

						<p>Praesent sollicitudin facilisis enim, viverra vulputate diam consequat in. Pellentesque dignissim tellus tellus, a sagittis magna consectetur nec. Quisque in lacinia arcu, eu pretium elit. Vestibulum dignissim sodales sodales. Curabitur luctus sollicitudin commodo. Curabitur nec tortor accumsan, lobortis turpis vitae, blandit tortor. Quisque felis leo, venenatis vel nulla in, mattis bibendum massa. Nunc eget bibendum diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc ornare dui sed tristique auctor.</p>

						
					</div>
					<aside>
						<h4>Comments</h4>
						<article>
							<header>
								<h5>Lorem Ipsum!</h5>
								<span>Posted by: <a href="">Matthew Moore</a> <time>X days ago</time></span>
								<img src="http://asset.canbotics.ca/user/matthew-moore/matthew-moore-avatar.png" width="75" height="75" alt="">
							</header>
							<p>Proin lacus neque, dictum sed mi eu, accumsan iaculis ipsum. Maecenas porta massa in libero auctor, ut aliquam magna euismod. Etiam at enim lacus. Phasellus cursus sem massa, eget malesuada nisi feugiat id. In porttitor id justo in rutrum. Sed erat tortor, sodales sed consequat a, pulvinar ornare metus. Sed non sapien in libero elementum ultrices a a urna. Donec egestas lacus nibh, id gravida leo dictum nec. Morbi id felis felis. Pellentesque ultrices placerat lectus vitae tincidunt. Vivamus pellentesque scelerisque purus a posuere. Nam rutrum condimentum nulla quis rutrum.</p>
						</article><article>
							<header>
								<h5>Lorem Ipsum!</h5>
								<span>Posted by: <a href="">Matthew Moore</a> <time>X days ago</time></span>
								<img src="http://asset.canbotics.ca/user/matthew-moore/matthew-moore-avatar.png" width="75" height="75" alt="">
							</header>
							<p>Proin lacus neque, dictum sed mi eu, accumsan iaculis ipsum. Maecenas porta massa in libero auctor, ut aliquam magna euismod. Etiam at enim lacus. Phasellus cursus sem massa, eget malesuada nisi feugiat id. In porttitor id justo in rutrum. Sed erat tortor, sodales sed consequat a, pulvinar ornare metus. Sed non sapien in libero elementum ultrices a a urna. Donec egestas lacus nibh, id gravida leo dictum nec. Morbi id felis felis. Pellentesque ultrices placerat lectus vitae tincidunt. Vivamus pellentesque scelerisque purus a posuere. Nam rutrum condimentum nulla quis rutrum.</p>
						</article><article>
							<header>
								<h5>Lorem Ipsum!</h5>
								<span>Posted by: <a href="">Matthew Moore</a> <time>X days ago</time></span>
								<img src="http://asset.canbotics.ca/user/matthew-moore/matthew-moore-avatar.png" width="75" height="75" alt="">
							</header>
							<p>Proin lacus neque, dictum sed mi eu, accumsan iaculis ipsum. Maecenas porta massa in libero auctor, ut aliquam magna euismod. Etiam at enim lacus. Phasellus cursus sem massa, eget malesuada nisi feugiat id. In porttitor id justo in rutrum. Sed erat tortor, sodales sed consequat a, pulvinar ornare metus. Sed non sapien in libero elementum ultrices a a urna. Donec egestas lacus nibh, id gravida leo dictum nec. Morbi id felis felis. Pellentesque ultrices placerat lectus vitae tincidunt. Vivamus pellentesque scelerisque purus a posuere. Nam rutrum condimentum nulla quis rutrum.</p>
						</article>
					</aside>
				</article>
			</section>